.app-container {
  background-color: whitesmoke;
}

.image-container {
  transition: transform 0.2s;
  border-style: none;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.fav-btn {
  padding-left: 35px;
}
